html {
    @import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
    margin: 0 auto;
    background-image: url(../img/fond_hor_1366px2.jpg);
    background-attachment:fixed;
}


body {
    min-height:0vh;
    display: flex;
    flex-direction: column;


    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 200; 
}

main {
    display: flex;
    flex: 1 1 auto;
    
}


header {
    background: rgba(252, 246, 218, 0.2);
    color: #404E57;
    border-radius: 5px;
    padding: .4rem;
    text-align: center;
/*    justify-content: center;*/
/*    margin: auto;*/
    margin-bottom: 0.5rem;
}


h1 {
    
    color:#404E57;


    font-size: 2rem;


    text-shadow:
        -0.4em 0 rgba( 229,110,86, 0.3),
        0.4em 0 rgba(134,184,195, 0.6);
    line-height: 2rem;
}


h2 {
    font-size: 5rem;
    text-shadow:
        -0.4em 0 rgba( 229,110,86, 0.3),
        0.4em 0 rgba(134,184,195, 0.6);
    line-height: 1rem;
}
h2 span {
    color: #efe8e8;
    z-index: 1;
}

h3 {
    font-size: 1.5rem;
    text-shadow:
        -0.3em 0 rgba( 229,110,86, 0.3),
        0.3em 0 rgba(134,184,195, 0.6);

        line-height: 1rem;
}

section {
    background: rgba(252, 246, 218, 0.2);
    color: #fff;
    border-radius: 5px;
    margin: 0 0.5rem;

    text-align: left;
    
    display: flex;
    min-height: 100vh;
}

#lienTitrePost {
    color: white;
    font-family: 'Oxygen';
    font-weight: 700;
    font-size: 1.2rem;
    background: none;
/*    margin: 0 auto;*/
    padding: .5em 0 .5em 1em;
    border: 0px solid black;
    padding: 10px 240px 10px 10px;
    border-radius: 0;
    box-shadow:none;
}

#lienTitrePost:link {
    text-decoration: none;
}

#lienTitrePost:hover {
    color: #e56e56;
}

/*=================== main content =================*/
.content {
    flex:1;
}
section a {
/*    box-sizing: content-box;*/
    margin: auto;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 400; 
    font-size: 8vw;
    padding: 6vw;
}

section a.styleBouton:link {
    text-decoration: none;
}
/*a:link {
    text-decoration: none;
    color: red;
}*/

section a:first-of-type {
    color: #efe8e8;
    background: rgba(229, 110, 86, 1);
    letter-spacing: 0.1em;
    border-radius: 1vw 5vw;

}

section a:last-of-type {
    color: #efe8e8;
    background: rgba(134, 184, 195, 1);
    border-radius: 1vw 5vw;
}


section a:hover {
    padding: calc(6vw - .8vw);
    box-shadow:
        .0em
        .0em
        .9em
        .4em
    rgba(255, 255, 255, .9);
}

section a:first-of-type:hover {
    border: solid .8vw rgb(134, 184, 195);

}

section a:last-of-type:hover {
    border: solid .8vw rgb(229, 110, 86);
}

section article {
    display: column;
    flex:1;
    padding: 1.5vw;
}
/* =========partie formulaire carnet ========*/

form {
    display: flex;   
}

form > div {
    width: 50%;
}
form > div + div {
    margin-left: 1em;
}

div + p {
    display: flex;
}

form input:not([type=submit]) {
    flex: 1;
}

/* TO DO  vérifier conséquences sur autres div*/

div + div {
    display: flex;
    flex-direction: column;
}




.boxLogin {
    background: rgba(110, 101, 89, .4);
}

small {
    text-align: justify;
}

textarea {
    flex:1;
}


form p {
    display: block;
}
label {
    display: block;
    text-align: left;
    color:#404E57;
}

/* TO DO : voir pour 50% (plus haut) ou auto */
form > div {
    width: 100%;
}






#submitFormCarnet {
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 200; 
    font-size: 1rem;
    color: rgba(255, 255, 255, .9);
    justify-content: center;
/*    background: #434343;*/
    background: #5fc79b;
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .5vh 1vw;
    padding-top: 5px ;
    line-height: 2rem;
    margin: auto;   
}

form textarea {
    border: solid 1px #434343;
    background: rgba(229,110,86,.2);
    color: #1d2327;
}

form input {
    width: 100%;

    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 200; 
    font-size: .9rem;
    color: #434343;
    justify-content: left;
/*    background: #434343;*/
    background: rgba(229,110,86,.6);
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .4vw .2vw;
    
    margin: auto;   
}
form label {
    font-size: .9rem;
    padding-bottom: .2em;
}

input::-webkit-input-placeholder {
    color: #434343;
    padding-left: 1rem;
}

input:-moz-placeholder {
    color: #434343;
    padding-left: 1rem;
}

form textarea::-webkit-input-placeholder {
    color: #434343;
    padding-left: 1rem;
}
form textarea:-moz-placeholder {
    color: #434343;
    padding-left: 1rem;
}



input:focus {
    outline: transparent;
    background: rgba(255,255,255, .7);
    border: solid 1px #434343;
}

textarea:focus {
    outline: transparent;
    background: rgba(255,255,255, .7);
    border: solid 1px #434343;
}
/*input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: -2px;
}*/

select:focus {
    outline:transparent;
    background: rgba(255,255,255, .7);
    border: solid 1px #434343;
}


select {
    width: 100%;
    border: solid 1px white;

    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 200; 
    font-size: .9rem;
    color: #434343;
    background: rgba(229,110,86,.6);
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
}


form p input[type=submit] {
    flex: 0;
    color:red;
    line-height: 9vh;

/*    width: 50%;*/
}

/*form input[type='submit'] {
    margin-bottom: 2em;
}*/
/* ========= FIN partie formulaire carnet ========*/

/*
#test {
    color:yellow;
}
*/


h4.couleurCR {
/*    background: red;*/
    border-radius: 5px;
    font-size: 1.5vw;
    padding: .9vw;
}

h4.couleurQR {
/*    background: red;*/
    border-radius: 5px;
    font-size: 1.5vw;
    padding: .9vw;
}

h4.couleurNEWS {
/*    background: red;*/
    border-radius: 5px;
    font-size: 1.5vw;
    padding: .9vw;
}

h4.couleurSignal {
/*    background: red;*/
    border-radius: 5px;
    font-size: 1.5vw;
    padding: .9vw;
}

/*TO DO : vérifier l'attribution de couleur*/
/*pour les catégories*/
.couleurQR {
/*    color: yellow;*/
    
}

h4 a.coulCategorie {
    background: none;
    font-weight: 700;
    font-size: 1.5vw;
    padding: .9vw; 
}

h4 a.coulCategorie:hover {
    border:none;
    box-shadow:none;
    color:  rgba(229, 110, 86, 1);
}
h4 span {
    color: white;
    font-weight: 200;

}
/*en cas de coupure de net*/
h4 a#lienTitrePost {
    font-family: 'Oxygen', Helvetica, sans-serif;
}

#categories li a:link {
    text-decoration: none;
}

#categories,
#navPages,
#navComment,
#navPostComment,
#nav404403{
    display: flex;
    min-height: 5vh;

}

#comment{
    display: flex;
    min-height: 50vh;

}

#comment p:first-of-type{

    font-size: 11vh;
    font-weight: 700;
    color: rgba(229, 110, 86, 1);
    margin: 0 .4vw;
    background: rgba(204, 234, 240, 0.4);
    margin: 0 .4vw 0 0;
}

#comment p:last-of-type{
    padding: 5vh 0 0 5vw;
    font-size: 6vh;
    font-weight: 400;
    flex-grow: 4;
    margin: 0 .4vw;
    background: rgba(204, 234, 240, 0.4);
    margin: 0 0 0 .7vw;
}


#fPostComment {
    display: column;
    flex:1;
    padding: 1.5vw; 
}


.reponses{
    display: flex;
    min-height: 15vh;
 /*   color:red;*/
}

p.textReponse {
        background: rgba(244,246,247,.3);
        color: #434343;
        padding: .9rem;
        border-radius: 5px;
        text-align: justify;
}



button {
    background: none;
    border: none;
    color: white;
    font-family: 'Oxygen';
    font-size:1rem;
}


ul .couleurreponses li{
    display: flex;
    min-height: 2vh;
    height: 1vh;
}

ul .couleurreponses{

    height: 1vh;
}

textarea {
    background: rgba(244, 246, 247, 0.4);
    padding: .9vw;
    border-radius: 5px;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200; 
    color: #1d2327;
    border: none 1px rgba(255, 255, 255, .9);
    width:calc(100% - 1.7vw);
    height: 50vh;
}

.fondZoneComment {
    background: rgba(134,184,195,.4);
    height: 20vh;
    border: 1px solid rgba(109, 168, 181, 1);
/*    border: 1px solid rgba(229,110,86, 1);*/
}

.fondForum {
    background: rgba(134,184,195,.4);
    border: 1px solid rgba(109, 168, 181, 1);
/*    border: 1px solid rgba(229,110,86, 1);*/
}




/*============ début vignettes ============== */

#thumbnail {
    display: flex;
    justify-content: flex-end;
    max-height: 90px;

    margin: 4vh auto;

/*
    min-height: 10vh;
    max-height: 20vh;
*/
    
}
#thumbnail img {
    margin-right: 0;
}

#thumbnail img:hover {
    margin-right: 0;
}

a#single_image {
    background: none;
    padding: 0;
    max-height: 100px;
    margin-right: 0;
        max-height: 90px;
    
}
a#single_image:hover {
    border: 2px solid rgba(134,184,195,1);
    

    border-radius: 10px;
    box-shadow:none;
    margin-right: 0;
    max-height: 90px;
}

a>img.vignette100 {
    box-shadow:none;
    border:none;
}
a>img.vignette100:hover {
    box-shadow:
        .0em
        .0em
        .9em
        .4em
    rgba(255,255,255, .4);
}

/*====== fin vignettes ===============*/


#apercuPosts{
    display: column;
    min-height: 40vh;
    padding-left: 0vw;
}


#apercuReponses{
    display: column;
/*    min-height: 70vh;*/
    padding: 0 0 0 10vw;
/*    background: red;*/
}
.textReponse {
    background: red;
}

#formPostComment{
    display: column;
    min-height: 100vh;
}


li.mod1 {
    display: inline-flex;
    list-style-type: none;
    color: rgba(255, 255, 255, .9);
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    font-size: 1rem;
    padding: .5vw 2vw;
    margin: auto;
    justify-content: center;
}

li.mod2 {
    display: inline-flex;
    list-style-type: none;
    color: rgba(255, 255, 255, .9);
/*    border: solid 1px rgba(255, 255, 255, .9);*/
    border-radius: 5px;
    font-size: .7rem;
/*    padding: .5vw 2vw;*/
    margin: auto;
    justify-content: center;
}

li.mod3 {
    display: inline-flex;
    list-style-type: none;
    color: rgba(255, 255, 255, .9);
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    font-size: .7rem; 
    padding: .5vw 2vw;
    margin: auto;
    justify-content: center;
}



li.infosPost1 a {
    display: flex;
    list-style-type: none;

    font-size: .7rem;
    color: rgba(255, 255, 255, .9);
    justify-content: center;
    background: #434343;
    border: solid 1px rgba(190, 255, 255, .9);
    border-radius: 5px;
    padding: .5vw 2vw;
    
    margin: auto;
}

li.infosPost2 a {
    display: flex;
    list-style-type: none;

    font-size: .7rem;
    color: rgba(255, 255, 255, .9);
    justify-content: center;
    background: #434343;
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .5vw 2vw;
    
    margin: auto;   
}

li.infosPost1 a:hover {
    color: rgba(134, 184, 195, 1);

    background: #434343;
    border: solid 1px rgba(255, 255, 255, .9);
/*
    border-radius: 5px;
    padding: .5vw 2vw;
    
    margin: auto;   
*/
}



ul {
    padding-left: 0;
    }
/*

#nav404403 li:nth-child(1) {

    margin: 0 .4vw;
    background: rgba(229, 110, 86, 1);
    margin: 0 .4vw 0 0;
}

#nav404403 li:nth-child(2) {  
    flex-grow: 4;
    margin: 0 .4vw;
    background: rgba(147, 201, 23, 1);
    margin: 0 0 0 .4vw;
}
*/


#navPages {
    display: flex;
    flex:1;
    list-style-type: none;

    min-height: 5vh;
    padding-top: 5vh;
    text-align: center;

    
}

#navPages li {
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .5vw 2vw;

    background: #434343;

    margin: auto;   
}

#navPages li:nth-child(2) {
    flex-grow: 4;
    margin: 0 .4vw;
    flex-basis: auto;
    align-content: center;
/*    text-align: center;*/  
}

#navPages li a {
    background: none;
    font-size: .9rem;
    padding:0;
}

#navPages li:hover {
    background: rgba(147, 201, 23, 1);
/*    font-size: 1rem;*/
}
a.sansSoulign:link {
    text-decoration: none;
}

#navPages li a:hover {
    border:none;
    box-shadow:none;
}
/*---------------------------------------*/

#navComment {
    display: flex;
    flex:1;
    list-style-type: none;

    min-height: 5vh;

    /*======================= début 160528 =======*/
    padding-top: 2vh;
    /*======================= fin 160528  =======*/
    text-align: center;
    margin: 0 auto;

    
}

#navComment li {
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .5vw 2vw;

    margin: auto;   
}

/*
#navComment li:nth-child(2) {
    flex-grow: 4;
    margin: 0 .4vw;
    flex-basis: auto;
    align-content: center;
    text-align: center;  
}
*/

#navComment li a {
    background: none;
    font-size: .9rem;
    padding:0;
}

#navComment input {
    border:none;
    background: none;
    font-size: .9rem;
    padding:0;
    color: white;
}

#navComment li:nth-child(1) {

    margin: 0 .4vw;
    background: rgba(229, 110, 86, 1);
    margin: 0 .4vw 0 0;
    width: 9vw;
}

#navComment li:nth-child(2) {
    flex-grow: 1;
    margin: 0 .4vw;
    background: rgb(95, 199, 155);
    margin: 0 0 0 .4vw;
    flex-basis: auto;
    align-content: center;
}

/*===============================*/




div ul li {
    color: blue;
}
div.enLigne p {
    display: inline-block;
    width: 50%;
    color: blue;
}
/*============================*/

#navComment li:hover {
    background: rgba(147, 201, 23, 1);
}


#navComment li a:hover {
    border:none;
    box-shadow:none;
}

/*++++++++++++++++++++*/
.postListe p {
    background: rgba(204,234,240,.2);
    border-radius: 4px;
    padding: 1rem;
}

    
.postListe p a{
    background: none;
    padding: 0;
    color: #1d2327;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
/*    color: red;*/
}





.postListe p a:hover{
/*    color: red;*/
    background: none;
    border: none;
    box-shadow:none;

}

.postListe p a:link{
    text-decoration: none;

}

/*ul[id=renseignPost] li:nth-child(3) {
    color:red;
    background: orange;
    border:none;
    margin-bottom:5px;
    padding: 0;

}*/

ul[id=renseignPost] li:nth-child(5) {
    color:red;
    background: orange;
    border:none;
    margin-bottom:5px;
    padding: 0;

}

ul[id=renseignPost] li:nth-child(5) {

    background: none;
    border:none;
    margin-bottom:5px;
    padding: 0;
}

ul[id=renseignPost] li:nth-child(5) a:hover {
    color:orange;
    background: #434343;
    border:1px solid orange;
        box-shadow:
        .0em
        .0em
        .9em
        .4em
    orange;

/*    padding: 0;*/
}


/*++++++++++++++++++++*/

#bloc404403 {
    display: flex;
    flex:1;
    list-style-type: none;

    min-height: 25vh;
    padding-top: 5vh;
    text-align: center center;
/*    margin: 0 auto;*/

    
}

#bloc404403 p {
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .5vw 2vw;

    margin: auto;   
}



#bloc404403 p a {
    background: none;
    font-size: .9rem;
    padding:0;
}

#bloc404403 p:nth-child(1) {

    margin: 0 .4vw;
/*    background: rgba(229, 110, 86, 1);*/
    margin: 0 .4vw 0 0;
        width: 9vw;
}

#bloc404403 p:nth-child(2) {
    flex-grow: 1;
    margin: 0 .4vw;
/*    background: rgb(95, 199, 155);*/
    margin: 0 0 0 .4vw;
        align-content: center;
/*    text-align: center;*/  
    text-align: center;
}
/*

#bloc404403 p:hover {
    background: rgba(147, 201, 23, 1);
}
*/


/*
#bloc404403 li a:hover {
    border:none;
    box-shadow:none;
}
*/



/*---------------------------------*/

#navPostComment li:nth-child(1) {

    margin: 0 .4vw;
    background: rgba(229, 110, 86, 1);
    margin: 0 .4vw 0 0;
}

#navPostComment li:nth-child(2) {
    flex-grow: 1;
    margin: 0 .4vw;
    background: rgba(147, 201, 23, 1);
    margin: 0 0 0 .4vw;
}
/*
 article div div h4 {
     font-size: 1.5vw;
     padding: .9vw;
     border-radius: 5px;
}
*/
.couleurCR {
     background:  rgba(109, 168, 181, 1);
    
}
.couleurNEWS {
     background:  rgba(91, 134, 144, 1);
}
.couleurQR {
     background:  rgba(53, 119, 134, 1);
}

.couleurSignal {
     background:   rgb(235, 128, 36);
}

article div div p {
    color: #1d2327;
    text-align: justify;
}

/*.couleurTitreCarnet {
     background:  rgba(229, 110,86, 1);
    
}*/

p > span {
    color: #434343;
    margin-right: 1rem;
}

h4.couleurTitreCarnet {
    
    background: rgba(229, 110,86, .9);
    padding: .9vw;
    border-radius: 5px;
}
.titreTabNote{
    padding-bottom: 10px;
    color: rgba(229,110,86,1);
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    height: 15em;
    overflow-x: hidden;
    overflow-y: auto;
}

td {
    padding: 5px;
/*    border: 1px solid #807e7b;*/
/*
    border-left: 1px solid #807e7b;
    border-bottom: 1px solid #807e7b;*/
}

table tbody tr td:nth-child(1){
color: #434343;
/*
    border-left: 1px solid #807e7b;
    border-bottom: 1px solid #807e7b;*/
}

p span {
    color: #434343;
    padding: .35rem;
}





p.couleurFondCR {
    
    background: rgba(204, 234, 240, 0.4);
    padding: .9vw;
    border-radius: 5px;
}

p.couleurFondNEWS {
    
    background:  rgba(204, 234, 240, 0.4);
    padding: .9vw;
    border-radius: 5px;
}

p.couleurFondQR {
    
    background:  rgba(204, 234, 240, 0.4);
    padding: .9vw;
    border-radius: 5px;
}

p.text404403 {
    
    background: rgba(204, 234, 240, 0.4);
    padding: .9vw;
    border-radius: 5px;
    text-align: center;
    line-height:40vh;
}

p.text404403:first-of-type {
    color: rgba(229, 110, 86, 1);
    font-size: 5vw;
    font-weight: 700;
}

p.text404403:last-of-type {
    color: rgba(109, 168, 181, 1);
    font-size: 4vw;
    font-weight: 200;
}

/*---------------------------*/






/*-----------------------------------*/



/*
.infosPost1 {
    background: #434343;
    color: rgba(255, 255, 255, .9);
    font-size: .7rem;
    padding: 4px 9px;
}
*/

.infosPost2 {
    background: #4c5d62;
    color: rgba(255, 255, 255, .9);
    font-size: .7rem;
    padding: 4px 9px;
}



p.couleurComment {
    
    background: rgba(244, 246, 247, 0.4);
    margin : 0 0 0 10.4vw;
    margin-bottom: 0.5rem;
    padding: .9vw;
    border-radius: 5px;

}

p.couleurCommentNote {
    
    background: rgba(244, 246, 247, 0.4);
    margin : 0 0 0 0vw;
    min-height: 24vh;
    margin-top: .2rem;
    margin-bottom: 0.1rem;
    padding: .9vw;
    border-radius: 5px;
}



/*
div ul li {

    color: rgba(255, 255, 255, .9);
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    font-size: 1.5vw;
    padding: .5vw 2vw;
    list-style-type: none;
}

div a {
    background: #000;
    padding: .1vw;
    font-size: 1.2vw;
    border-radius: 3px;
}
*/

div[id=colonne2_3] {
    width:100%%;
/*    background: red;*/

}
div[id=colonne1_3] {
    width:100%;
/*    background: yellow;*/

}

/*
section article p a + a {
    color:red;
}*/



#btnSignaler {
    background: none;
    color: red;

}
/*=================== fin main content =================*/



footer {
    background: rgba(85, 83, 83, .6);
    color: #b1b1b1;
    border-radius: 5px; 
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    justify-content: space-between;
}

footer div a {
    color: rgba(134, 184, 195, 1);
    padding: 1px 4px;
}

footer div a:hover {
    background: rgba(229, 110, 86, 1);
    border-radius: 3px;
    
;
}

aside {
    background: rgba(252, 246, 218, 0.2);
    border-radius: 5px;
    text-align: left;  
    color: #404E57;
    order: -1;
}
nav {
    background: rgba(252, 246, 218, 0.2);
    color: #2c2828;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
/*    justify-content: space-between;*/
}

nav h1 {
    text-align: center;
}


nav a {
    color: #efe8e8;
    text-decoration: none;
/*    border-bottom: solid 1px #fff;*/
    background: transparent;
    border: solid 1px #efe8e8;
    border-radius: 3px;
    padding: .2rem;
    padding-left: 1rem;
    margin-bottom: .2rem;
}

/* ====== début 160528 =============*/

#navAside{

    display: flex;
    flex:1;
    list-style-type: none;

    min-height: 5vh;

    /*======================= début 160528 =======*/
    padding-top: 4vh;
    /*======================= fin 160528  =======*/
    text-align: center;
/*    margin: 0 auto;*/

}

#navAside li {
    border: solid 1px rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: .5vw 2vw;

    margin: auto;   
}

#navAside li:nth-child(1) {
    flex-grow: 1;
    margin: 0 .4vw;
    background: #e56e56;
    margin: 0 0 0 .4vw;
    flex-basis: auto;
    align-content: center;
}

#navAside li:hover {
    background: rgba(147, 201, 23, 1);
}

aside div a {
    color: white;
    font-weight: 400;
}






/* ====== fin 160528 =============*/

nav a:first-of-type:hover {
    background: rgb(147, 201, 23);
}

nav a:nth-child(2n+1):hover {
    background: rgb(128, 126, 123);
}

nav a:hover {
    background: rgba(229, 110, 86, 1);
}

nav a:last-of-type:hover {
    background: rgba(134, 184, 195, 1);
}


nav,
aside {
    width: 15vw;
    padding: 0.5vw;
}
aside h3 {
    padding-top: .5vw;
    line-height: 1.6rem;
}




/*============media queries=================*/
@media (max-width: 640px) {
    main {
        flex-direction: column;
    }
    section {
        margin: 0;
    }
    nav,
    aside {
        width: auto;
    }
    aside {
        margin: .5rem 0;
        order: 1;
    }
    .content {
        flex-basis: auto;
    }
    nav {
        order: -1;
        align-items: center;
    }
    
    form {
        flex-direction: column;
    }
    form > div {
    width: auto;
    }

    form > div + div {
        margin-left: 0;
        margin-bottom: 1em;
        order:2;
    }
    form input {
        width: 100%;
    }
    select {
        width: 100.5%;
    }
}

/*==============media queries================*/
